.button
	display inline-block
	height 44px
	margin 0 20px
	padding 11px 20px
	box-sizing border-box
	vertical-align middle
	text-decoration none
	background #55cc66
	border 1px solid #000
	color #fff
	font-size 20px
	cursor pointer

	&.disabled
		color: #888
		background #cccccc 

	&.cancel
		color #000
		background #fff