head
  title Entry Form Optimization
  meta(charset='UTF-8')
  meta(content='', name='description')
  meta(content='', name='author')
  meta(content='width=device-width', name='viewport')

  link(href='css/main.css', rel='stylesheet')